@import url(https://fonts.googleapis.com/css2?family=Jua&display=swap%27%29);

p1 {
    font-family:'jua';
    font-size: 250%;  
}

p2 {
    font-family:'jua';
    font-size: 200%;   
}

p3 {
    font-family:'jua';
    font-size: 150%;   
}
p4 {
    font-family:'jua';
    font-size: 130%;   
}
p5 {
    font-family:'jua';
    font-size: 80%;   
}

